* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#head {
    border: 2px solid red;
    /* margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 40px; */

    /* margin: 10px 20px 40px 30px; top right bottom left */
    /* margin: 10px 20px 40px; top right&left bottom */
    /* margin: 10px 20px; top&bottom right&left */
    margin: 10px;
    padding-left: 20px;
}
#head-2 {
    border: 2px solid blue;
    /* outline: 10px solid green; */
    padding: 20px;
}