* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#box {
    height: 300px;
    width: 800px;
    border: 2px solid black;
    margin: 40px;
    padding: 20px;
}

h1 {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    color: crimson;
    margin: 10px 0;
}

#desc {
    margin: 15px 0;
    text-indent: 20px;
    line-height: 50px;
    word-spacing: 7px;
    /* white-space: nowrap; */
}

#list {
    list-style-type: none;
}

#list li a {
    text-decoration: none;
}