.items {
    display: inline-block;
}

.insider {
    display: inline-block;
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

#inline {
    background-color: blanchedalmond;
    /* height: 500px;
    width: 400px;
    margin: 300px;
    padding: 30px; */
}