#container {
    border: 2px solid black;
    height: 350px;
    width: 80%;
    position: relative;
}

.box {
    height: 100px;
    width: 100px;
    position: absolute;
}

#red {
    background-color: red;
    z-index: 10;
}

#blue {
    background-color: blue;
    z-index: 5;
}

#green {
    background-color: green;
    z-index: 15;
}