#parent {
    border: 2px solid red;
    height: 200px;
    width: 100%;
    display: flex;
    /* gap: 15px; */
    /* justify-content: flex-start;       Horizontally */
    align-items: flex-start;            /* Vertically */
    justify-content: space-around;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap-reverse;
}

.child {
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}