* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#form {
    border: 2px solid red;
    width: 30%;
    background-color: rgb(239, 236, 205);
    margin: 40px auto;
    padding: 10px;
}

.btn {
    padding: 4px 15px;
    background-color: rgb(226, 162, 162);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}

#gender {
    /* border: 2px solid blue; */
}
