* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#head1 {
    font-family: "Bodoni Moda", serif;
    font-weight: 900;
    font-size: 10px;
    font-style: italic;
}

#head2 {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
}