* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

h1 {
    /* border-width: 10px;
    border-color: black;
    border-style: solid; */

    /* border: 2px dashed green; */

    border-bottom: 5px solid red;
    border-left: 2px solid blue;
}

#box {
    border: 2px solid yellow;
    width: 100%;
    height: 100vh;
}